<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sales Report</title>
</head>
<body>
<!-- Content Header (Page header) -->
<div class="content-header sty-one">
    <h1 class="text-dark">Sales Report</h1>


</div>
<br>



<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr class="text-center">
            <th scope="col">Id</th>
            <th scope="col">Product</th>
            <th scope="col">Brand</th>
            <th scope="col">Category</th>
            <th scope="col">Stock</th>
            <th scope="col">Price</th>
            <th scope="col">Sales Count</th>
            <th scope="col">Revenue</th>
            <th scope="col">Profit</th>


        </tr>
        </thead>
        <tbody>
        
        <tr class="text-center">

            <th scope="row">1</th>
            <td>Kohala Ukulele</td>
            <td>Kohala</td>
            <td>Accoustic</td>
            <td>9</td>
            <td>132</td>

            <td>
                                    
                                    1
                                    
                                </td>

             <td>
                                
                                 132
                                    
                                </td>
            <td>
                                   
                                    132
                                    
                                </td>



        </tr>
        
        <tr class="text-center">

            <th scope="row">2</th>
            <td>Akai Mpc</td>
            <td>Akai</td>
            <td>electrical</td>
            <td>9</td>
            <td>1200</td>

            <td>
                                    
                                    1
                                    
                                </td>

             <td>
                                
                                 1200
                                    
                                </td>
            <td>
                                   
                                    1200
                                    
                                </td>



        </tr>
        
        <tr class="text-center">

            <th scope="row">3</th>
            <td>Hovner Guitar</td>
            <td>Yamaha</td>
            <td>electrical</td>
            <td>9</td>
            <td>560</td>

            <td>
                                    
                                    2
                                    
                                </td>

             <td>
                                
                                 1120
                                    
                                </td>
            <td>
                                   
                                    1120
                                    
                                </td>



        </tr>
        
        <tr class="text-center">

            <th scope="row">4</th>
            <td>Kadence Violin</td>
            <td>Kadence</td>
            <td>Accoustic</td>
            <td>3</td>
            <td>432</td>

            <td>
                                    
                                    2
                                    
                                </td>

             <td>
                                
                                 864
                                    
                                </td>
            <td>
                                   
                                    864
                                    
                                </td>



        </tr>
        
        <tr class="text-center">

            <th scope="row">5</th>
            <td>Kadence Electric</td>
            <td>Kadence</td>
            <td>electrical</td>
            <td>2</td>
            <td>768</td>

            <td>
                                    
                                    1
                                    
                                </td>

             <td>
                                
                                 768
                                    
                                </td>
            <td>
                                   
                                    768
                                    
                                </td>



        </tr>
        
        <tr class="text-center">

            <th scope="row">6</th>
            <td>Kadence Ukulele</td>
            <td>Kadence</td>
            <td>Accoustic</td>
            <td>9</td>
            <td>149</td>

            <td>
                                    
                                    1
                                    
                                </td>

             <td>
                                
                                 149
                                    
                                </td>
            <td>
                                   
                                    149
                                    
                                </td>



        </tr>
        
        <tr class="text-center">

            <th scope="row">7</th>
            <td>Vault Violin</td>
            <td>Kohala</td>
            <td>Accoustic</td>
            <td>15</td>
            <td>181</td>

            <td>
                                    
                                    1
                                    
                                </td>

             <td>
                                
                                 181
                                    
                                </td>
            <td>
                                   
                                    181
                                    
                                </td>



        </tr>
        
        <tr class="text-center">

            <th scope="row">8</th>
            <td>Xtreme Mpk</td>
            <td>Yamaha</td>
            <td>electrical</td>
            <td>3</td>
            <td>789</td>

            <td>
                                    
                                    1
                                    
                                </td>

             <td>
                                
                                 789
                                    
                                </td>
            <td>
                                   
                                    789
                                    
                                </td>



        </tr>
        
        <tr class="text-center">

            <th scope="row">9</th>
            <td>Clapbox Cajon</td>
            <td>Clapbox</td>
            <td>Percusion</td>
            <td>15</td>
            <td>273</td>

            <td>
                                    
                                    1
                                    
                                </td>

             <td>
                                
                                 273
                                    
                                </td>
            <td>
                                   
                                    273
                                    
                                </td>



        </tr>
        
        <tr class="text-center">

            <th scope="row">10</th>
            <td>Tornado Drums</td>
            <td>Tornado</td>
            <td>Percusion</td>
            <td>6</td>
            <td>994</td>

            <td>
                                    
                                    1
                                    
                                </td>

             <td>
                                
                                 994
                                    
                                </td>
            <td>
                                   
                                    994
                                    
                                </td>



        </tr>
        
        <tr class="text-center">

            <th scope="row">11</th>
            <td>Cosmos D-Dark</td>
            <td>Cosmos</td>
            <td>Percusion</td>
            <td>11</td>
            <td>897</td>

            <td>
                                    
                                    1
                                    
                                </td>

             <td>
                                
                                 897
                                    
                                </td>
            <td>
                                   
                                    897
                                    
                                </td>



        </tr>
        
        <tr class="text-center">

            <th scope="row">12</th>
            <td>Cosmos D-Blue</td>
            <td>Cosmos</td>
            <td>Percusion</td>
            <td>1</td>
            <td>1004</td>

            <td>
                                    
                                    1
                                    
                                </td>

             <td>
                                
                                 1004
                                    
                                </td>
            <td>
                                   
                                    1004
                                    
                                </td>



        </tr>
        
        <tr class="text-center">

            <th scope="row">13</th>
            <td>Mustang Keyflute</td>
            <td>Mustang</td>
            <td>Wind</td>
            <td>5</td>
            <td>153</td>

            <td>
                                    
                                    1
                                    
                                </td>

             <td>
                                
                                 153
                                    
                                </td>
            <td>
                                   
                                    153
                                    
                                </td>



        </tr>
        
        <tr class="text-center">

            <th scope="row">14</th>
            <td>Havana Saxophone</td>
            <td>Havana</td>
            <td>Wind</td>
            <td>8</td>
            <td>519</td>

            <td>
                                    
                                    1
                                    
                                </td>

             <td>
                                
                                 519
                                    
                                </td>
            <td>
                                   
                                    519
                                    
                                </td>



        </tr>
        
        <tr class="text-center">

            <th scope="row">15</th>
            <td>Dodgg Minisax</td>
            <td>Mustang</td>
            <td>Wind</td>
            <td>5</td>
            <td>482</td>

            <td>
                                    
                                    1
                                    
                                </td>

             <td>
                                
                                 482
                                    
                                </td>
            <td>
                                   
                                    482
                                    
                                </td>



        </tr>
        
        <tr class="text-center">

            <th scope="row">16</th>
            <td>Kadence Saxophone</td>
            <td>Kadence</td>
            <td>Wind</td>
            <td>1</td>
            <td>974</td>

            <td>
                                    
                                    1
                                    
                                </td>

             <td>
                                
                                 974
                                    
                                </td>
            <td>
                                   
                                    974
                                    
                                </td>



        </tr>
        
        <tr class="text-center">

            <th scope="row">17</th>
            <td>Clapbox  Djembe</td>
            <td>Clapbox</td>
            <td>Percusion</td>
            <td>4</td>
            <td>312</td>

            <td>
                                    
                                    1
                                    
                                </td>

             <td>
                                
                                 312
                                    
                                </td>
            <td>
                                   
                                    312
                                    
                                </td>



        </tr>
        
        <tr class="text-center">

            <th scope="row">18</th>
            <td>Tycoon Darbooka</td>
            <td>Pearl</td>
            <td>Percusion</td>
            <td>9</td>
            <td>227</td>

            <td>
                                    
                                    1
                                    
                                </td>

             <td>
                                
                                 227
                                    
                                </td>
            <td>
                                   
                                    227
                                    
                                </td>



        </tr>
        

        </tbody>

    </table>

</div>





<!-- /.content -->

</body>
</html>